@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    --poopins: "Poppins",
        sans-serif;
    /* color */
    --nav-color: #9003E5;
    --primary-color: #D2DA60;
    --liner-gradient: linear-gradient(90.44deg, #9003E5 2.42%, #F93B95 99.69%);
    --base-color: #FFFFFF;
    --txt-color: #8A3E74;
    --black-color: #000000;
    --setion-color: #EEEEEE;
    --btn-colo: #010080;
    /* font-weight */
    --fw-3: 300;
    --fw-4: 400;
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;
    --fw-8: 800;
        /* font-size */
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-22: 22px;
    --fs-24: 24px;
    --fs-20: 20px;
    --fs-36: 36px;
    --fs-48: 48px;
    --fs-144:144px;
    /* line-height */
}